@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: 'Poppins', sans-serif;
    color:#000;
}

.container{
    width:min(100% - 10vh);
    margin-inline:auto;
}

#gallery{
    text-align:center;
    display:flex;
    flex-wrap:wrap;
}

.galleryImage{
    text-align:center;
    width:49.5%;
    height:40vh;
    border-radius:8px;
}

.Info{
    background-color: #222;
    color:white;
    padding:16px;
}

.form-element{
    width:100%;
    padding:8px;
    border-radius:8px;
    border:solid 2px #ddd;
    background: #fff;
}

.err{
    background-color: rgba(200, 43, 43, 0.7);
    border:rgba(200, 43, 43, 0.9) 2px solid;
    padding:12px;
    color:white;
    width:max(100% - 15vw);
    margin-inline:auto;
    margin-top:4vh;
    margin-bottom:4vh;
    border-radius:8px;
}
