<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="./static/kawethra.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="./static/script.js"></script>
        <link rel="stylesheet" href="./static/style.css"/>
        <script src="https://flowbite.com/docs/flowbite.min.js?v=1.6.5a"></script>
        <title>Anasayfa</title>
    </head>
<body class="antialiased bg-gray-200 text-gray-900 font-sans p-6 dark:bg-gray-900">

<div class="container mx-auto px-4">
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Başlık
                </th>
                <th scope="col" class="px-6 py-3">
                    Kategori
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                    <img class="w-10 h-10 rounded-full" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Jese image">
                    <div class="pl-3">
                        <div class="text-base font-semibold">31 NASIL ÇEKERIM???</div>
                        <div class="font-normal text-gray-500">tunahocaile31dersleri@gmail.com</div>
                    </div>  
                </th>
                <td class="px-6 py-4">
                    <span class="bg-indigo-100 text-indigo-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">Biyoloji</span>
                </td>
            </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                    <img class="w-10 h-10 rounded-full" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Jese image">
                    <div class="pl-3">
                        <div class="text-base font-semibold">31 NASIL ÇEKERIM???</div>
                        <div class="font-normal text-gray-500">tunahocaile31dersleri@gmail.com</div>
                    </div>  
                </th>
                <td class="px-6 py-4">
                    <span class="bg-indigo-100 text-indigo-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">Biyoloji</span>
                </td>
            </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                    <img class="w-10 h-10 rounded-full" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Jese image">
                    <div class="pl-3">
                        <div class="text-base font-semibold">31 NASIL ÇEKERIM???</div>
                        <div class="font-normal text-gray-500">tunahocaile31dersleri@gmail.com</div>
                    </div>  
                </th>
                <td class="px-6 py-4">
                    <span class="bg-indigo-100 text-indigo-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">Biyoloji</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>