<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../static/kawethra.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="../static/script.js"></script>
        <link rel="stylesheet" href="./static/style.css"/>
        <title>Kaydedilen Bilgiler</title>
    </head>
    <body class="antialiased bg-gray-200 text-gray-900 font-sans p-6 dark:bg-gray-900">
    <div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-12">
    <div class="grid grid-cols-2 gap-4" id="fotolar">
    </div>
    </div>
    </body>
<script>
window.onload = listMyCart()
</script>
</html>